*{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Poke';
    src: url(font/Pokemon\ Hollow.ttf) format('truetype');
}
@font-face {
    font-family: 'Price';
    src: url(font/Pricedown\ Bl.otf) format('opentype');
}

body{
    max-width: 800px;
    min-width: 300px;
    background-image: url('imagens/img.jpe');
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: 700px 952px;
}
.header{
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 300px;
}
.header__title{
    font-family: 'Poke';
    font-weight: 600;
}
.header__menu{
    padding-left: 40px;
}
.header__menu a{
    padding-left: 15px;
    text-decoration: none;
    color: rgb(126, 126, 113);
}
.header__menu a:hover{
    transition: .2s ease;
    color: aqua;
}

.mini-content{
    font-weight: 900;
    font-size: 14px;
    margin: 170px 0px 40px 300px;
    color: lightblue;
}
.section-title{
    font-family: 'Poke';
    font-weight: 10;
    font-size: 36px;
    margin: 30px 0px 0px 300px;
}

section p{
    font-family: 'Price';
    text-align: justify;
    margin: 30px 0px 0px 300px;
    max-width: 400px;
    letter-spacing: 2px;
}

.button__check{
    background-color: red;
    color: white;
    border: 0px;
    text-decoration: none;
    font-weight: 800;
    border-radius: 20px;
    padding: 8px;
    margin: 50px 0px 174px 300px;
}
.button__check:hover{
    transform: scale(1.1);
    transition: 1.1;
}

.ajuste-img{
    background-image: url('imagens/pexels-photo.jp');
    background-repeat: no-repeat;
    background-position: 70% bottom;
    background-attachment: fixed;
    background-size: 600px 700px;
    
}