@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

body{
    background-image: url('../imagens/teto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ffdabf;
}
.name{
    font-family: 'Eater', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    text-align: center;
    padding: 10px;

}
main{
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    margin: 0vw 6vw 0vw 6vw ;
}
.img-teto{
    background-color: #4e4b4427;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}
#img{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


main > section > p{
    padding: 20px;
    text-align: justify;
}

.next-button{
    background-image: linear-gradient(to left, #2731428e,#323941);
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.p-but{
    text-align: right;
    margin:20px;
    
}
.next-button:hover{
    background-color: aqua;
    transform: scale(1.1);
}

