@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

header{
    background-image: linear-gradient(to right, #273142,#556270);
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
header > h1{
    font-family: "Eater", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 4.3vw;
    margin-bottom: 20px;
}
header > nav > a{
    padding: 10px 15px 10px 15px;
    border-radius: 15px;

}
nav > a:hover{
    background-color: #00e1ff96;
    transform: scale(1.1);
}

